@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --clr-primary: hsl(10, 79%, 65%);
  --clr-accent: hsl(186, 34%, 60%);
  --clr-bg-primary: hsl(27, 66%, 92%);
  --clr-bg-primary-soft: hsl(33, 100%, 96.1%);

  --clr-text-primary: hsl(25, 47%, 15%);
  --clr-text-primary-soft: hsl(28, 10%, 53%);

  --txt-main: 0.95rem;
  --txt-small: 0.765rem;
  --txt-big: 1.45rem;
  --txt-family: "DM Sans", sans-serif;

  --brd-radius: 15px;
}
* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background: var(--clr-bg-primary);
  color: var(--clr-text-primary);
  font-family: var(--txt-family);
  font-size: var(--txt-main);
  line-height: 1.1;
}

h1 {
  margin: 0;
  padding: 0.25rem 0;
  font-size: var(--txt-big);
  color: var(--clr-text-primary);
}

h4 {
  margin: 0;
  padding: 0.25rem 0;
  font-size: var(--txt-big);
  color: var(--clr-bg-primary-soft);
}

p {
  margin: 0;
  padding: 0.2rem 0;
  font-size: var(--txt-main);
  color: var(--clr-bg-primary-soft);
}

hr {
  background-color: var(--clr-bg-primary);
  height: 3px;
  border: none;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.container {
  display: flex;
  margin: 0.5rem 0rem;
  padding: 1.35rem;
  border-radius: var(--brd-radius);
  background-color: var(--clr-bg-primary-soft);
}
/* INIT CHARTS */
.charts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 4em 1em;
  display: grid;
  place-content: center;
  display: flex;
}

/* CHARTS HEADER */
.charts .header {
  display: flex;
  background-color: var(--clr-primary);
  width: 100%;
  padding: 1.35rem;
}
.logo {
  flex: 1;
}
.charts .title {
  flex: 3;
}

.charts .logo {
  flex: 1;
}

/* CHARTS Content*/
.charts .content {
  width: 100%;
  /* height: 350px; */
}

.charts .weekdays {
  display: flex;
  width: 100%;
  max-height: 450px;
  margin-top: 3rem;

  flex-flow: nowrap;
  justify-content: space-between;
  font-size: var(--txt-small);
}
.charts .day {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  position: relative;
  text-align: center;
  height: 180px;
}
.charts .day::before {
  display: block;
  content: "";
  position: relative;
  height: 140px;
  max-height: 250px;
  width: 35px;
  background-color: var(--clr-primary);

  border-radius: 4px;
}

.day p {
  color: var(--clr-text-primary-soft);
  margin-top: 0.4rem;
  font-size: var(--txt-small);
}

/* CHARTS Content*/
.charts .summarize {
  margin-top: 0.5rem;
  color: red;
}

.charts .summarize p {
  color: var(--clr-text-primary-soft);
}
.charts .summarize h1 {
  font-weight: 700;
  font-size: calc(var(--txt-big) + 0.5rem);
  margin: 0.5rem 0;
}

.charts .summarize .details {
  display: flex;
  justify-content: space-between;
}

.charts .summarize .details .average {
  text-align: right;
}
.charts .summarize .details .average :first-child {
  font-weight: 700;
  color: var(--clr-text-primary);
}
